@page "/assetCategory"
@inject HttpClient Http

<h3>Asset Categories</h3>

@if(assetCategories == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<ul>
		@foreach(var assetCategory in assetCategories)
		{
			<li>@assetCategory.Name</li>
		}
	</ul>
}

@code{
	private List<AssetCategoryModel> assetCategories;
	protected override async Task OnInitializedAsync()
	{
		assetCategories = await Http.GetFromJsonAsync<List<AssetCategoryModel>>("api/AssetCategory");

	}

	public class AssetCategoryModel// line 28
	{
		public int Id{ get; set; }
		public string Name{ get; set; }

	}
}